<?xml version="1.0" encoding="UTF-8"?>
<settings
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<servers>
		<server>
			<username>${env.MAIN_REPO_USER}</username>
			<password>${env.MAIN_REPO_PASSWORD}</password>
			<id>main-repo-central</id>
		</server>
		<server>
			<username>${env.MAIN_REPO_USER}</username>
			<password>${env.MAIN_REPO_PASSWORD}</password>
			<id>main-repo-snapshots</id>
		</server>
		<server>
			<username>${env.MAIN_REPO_USER}</username>
			<password>${env.MAIN_REPO_PASSWORD}</password>
			<id>project-snapshot</id>
		</server>
		<server>
			<username>${env.MAIN_REPO_USER}</username>
			<password>${env.MAIN_REPO_PASSWORD}</password>
			<id>project-release</id>
		</server>
		<server>
			<username>${env.GIT_USER}</username>
			<password>${env.GIT_PASSWORD}</password>
			<id>${env.GIT_HOST}</id>
		</server>
	</servers>
	<profiles>
		<profile>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>central</name>
					<url>http://repo.maven.apache.org/maven2</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<id>snapshots</id>
					<name>snapshots</name>
					<url>http://repo.maven.apache.org/maven2</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>main-repo-central</id>
					<name>virtual</name>
					<url>${env.MAIN_REPO_URL}</url>
				</repository>
				<repository>
					<snapshots />
					<id>main-repo-snapshots</id>
					<name>virtual</name>
					<url>${env.MAIN_REPO_URL}</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>central</name>
					<url>http://repo.maven.apache.org/maven2</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>snapshots</id>
					<name>snapshots</name>
					<url>http://repo.maven.apache.org/maven2</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>main-repo-central</id>
					<name>virtual</name>
					<url>${env.MAIN_REPO_URL}</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>main-repo-snapshots</id>
					<name>virtual</name>
					<url>${env.MAIN_REPO_URL}</url>
				</pluginRepository>
			</pluginRepositories>
			<id>docker-java-builder</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>docker-java-builder</activeProfile>
	</activeProfiles>
</settings>
